.chirpHolder {
    height: 500px;
    width: 800px;
    background-color: lightblue;
    position: relative;
    margin: 1em;
    border-radius: 1em;
}

.blockStyle {
    height: 100px;
    width: 200px;
    background-color: lightgray;
}

.userNameStyles {
    padding: 25px;
    font-family: cursive;
    font-size: larger;
    font-weight: 800;
}

.chirpStyles {
    margin-top: 0;
    font-size: small;

}

.chirpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}